In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Mobiles_Dataset.csv')

In [4]:
df.shape

(984, 12)

In [5]:
df.head()

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...

In [6]:
df.reset_index(inplace=True)

In [7]:
df = df.iloc[:,[0,1,3,4,5,6,7,8,9,10,11,12]]

In [8]:
df.reset_index(inplace=True)

In [9]:
df=df.copy()
df.rename(columns={"index":"id",
                     "Product Name":"Name",
                     "Discount price":"Price",
                     "Stars":"stars",
                     "Reviews":"reviews",
                     "Rating":"rating",
                     "RAM (GB)":"RAM",
                     "Storage (GB)":"storage",
                    "Display Size (inch)":"display",
                    "Camera":"camera",
                    "Description":"description",
                    "Link":"url"},inplace=True)

In [10]:
df['Name'] = df['Name'].str.replace(r'\s*\(.*?\)', '', regex=True)
df['rating'] = df['rating'].str.replace(' Ratings', '').str.replace(',', '').astype(int)

In [11]:
df['reviews'] = df['reviews'].str.replace(' Reviews', '').str.replace(',', '').astype(int)

In [13]:
df=df.drop_duplicates(['Name'])

In [14]:
df.head()

,level_0,id,Name,Price,stars,rating,reviews,RAM,storage,display,camera,description,url
0,0,0,Apple iPhone 15,"₹65,999",4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
3,3,3,OnePlus N20 SE,"₹11,489",4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
5,5,5,OnePlus 12R,"₹38,989",4.5,4278,292,8,128,6.78,50MP,8 GB RAM | 128 GB ROM17.22 cm (6.78 inch) Disp...,https://www.flipkart.com/oneplus-12r-cool-blue...
6,6,6,SAMSUNG Galaxy F14 5G,"₹10,990",4.2,45538,2989,4,128,6.60,50MP + 2MP,4 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,https://www.flipkart.com/samsung-galaxy-f14-5g...
7,7,7,CMF by Nothing Phone 1,"₹15,999",4.4,8057,701,6,128,6.67,50MP + 2MP,6 GB RAM | 128 GB ROM | Expandable Upto 2 TB16...,https://www.flipkart.com/cmf-nothing-phone-1-b...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 286 entries, 0 to 978
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      286 non-null    int64
 1   id           286 non-null    int64
 2   Name         286 non-null    object
 3   Price        286 non-null    object
 4   stars        286 non-null    float64
 5   rating       286 non-null    int32
 6   reviews      286 non-null    int32
 7   RAM          286 non-null    object
 8   storage      286 non-null    object
 9   display      286 non-null    float64
 10  camera       262 non-null    object
 11  description  286 non-null    object
 12  url          286 non-null    object
dtypes: float64(2), int32(2), int64(2), object(7)
memory usage: 29.0+ KB

In [19]:
r1=df['rating']>=50
r2=df['reviews']>=10
df =df[r1 & r2]

In [23]:
df['features'] = (
    df['Name'] + ' ' +
    df['camera'] + ' ' +
    df['Price'].astype(str) + ' ' +
    df['stars'].astype(str) + ' ' +
    df['RAM'].astype(str) + ' ' +
    df['storage'].astype(str)
)
df['features'].fillna('unknown', inplace=True)
df['features'] = df['features'].astype(str)

C:\Users\bagga\AppData\Local\Temp\ipykernel_18692\935124744.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['features'].fillna('unknown', inplace=True)

In [24]:
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1500,stop_words='english')

In [25]:
vector = cv.fit_transform(df['features']).toarray()

In [26]:
vector.shape

(246, 412)

In [28]:
similarity = cosine_similarity(vector)

In [29]:
similarity

array([[1.        , 0.12598816, 0.13608276, ..., 0.13608276, 0.20100756,
        0.20100756],
       [0.12598816, 1.        , 0.46291005, ..., 0.        , 0.        ,
        0.        ],
       [0.13608276, 0.46291005, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.13608276, 0.        , 0.        , ..., 1.        , 0.24618298,
        0.24618298],
       [0.20100756, 0.        , 0.        , ..., 0.24618298, 1.        ,
        0.81818182],
       [0.20100756, 0.        , 0.        , ..., 0.24618298, 0.81818182,
        1.        ]])

In [37]:
def get_recommendations(product_index, num_recommendations=5):
    sim_scores = list(enumerate(similarity[product_index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_recommendations + 1]  # Exclude the product itself
    recommended_indices = [i[0] for i in sim_scores]
    return df.iloc[recommended_indices]

In [38]:
get_recommendations(1)

,level_0,id,Name,Price,stars,rating,reviews,RAM,storage,display,camera,description,url,features
5,5,5,OnePlus 12R,"₹38,989",4.5,4278,292,8,128,6.78,50MP,8 GB RAM | 128 GB ROM17.22 cm (6.78 inch) Disp...,https://www.flipkart.com/oneplus-12r-cool-blue...,"OnePlus 12R 50MP ₹38,989 4.5 8 128"
53,53,53,SAMSUNG Galaxy M14 5G,"₹11,895",4.2,6481,346,4,128,6.60,50MP + 50MP,4 GB RAM | 128 GB ROM | Expandable Upto 256 GB...,https://www.flipkart.com/samsung-galaxy-m14-5g...,"SAMSUNG Galaxy M14 5G 50MP + 50MP ₹11,895 4.2 ..."
30,30,30,OnePlus 11R 5G,"₹30,469",4.5,8230,623,8,128,6.70,50MP,8 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,https://www.flipkart.com/oneplus-11r-5g-galact...,"OnePlus 11R 5G 50MP ₹30,469 4.5 8 128"
437,437,437,OnePlus Nord 3 5G,"₹21,229",4.3,11600,960,8,128,6.74,50MP,8 GB RAM | 128 GB ROM17.12 cm (6.74 inch) Disp...,https://www.flipkart.com/oneplus-nord-3-5g-mis...,"OnePlus Nord 3 5G 50MP ₹21,229 4.3 8 128"
353,353,353,OnePlus Nord CE3 5G,"₹20,980",4.4,9578,793,8,128,6.70,50MP,8 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,https://www.flipkart.com/oneplus-nord-ce3-5g-a...,"OnePlus Nord CE3 5G 50MP ₹20,980 4.4 8 128"

In [40]:
with open('mobile_recommender.pkl', 'wb') as model_file:
    pickle.dump(similarity, model_file)

df.to_csv('Mobiles_Dataset.csv', index=False)